@import "./style/fonts.scss";
@import "./style/all.min.css";
@import "./style/player.scss";
@import "./style/mode";
@import "./style/math";
@import "./style/result";
@import "./style/users";
@import "./style/media";

body {
    font-family: "Montserrat-Regular";
    color: #fff;
    font-size: 15px;
    margin: 0;
    background: url('./img/quiz-bg.jpeg') no-repeat;
    background-size: cover;
}



* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



img {
    max-width: 100%;
}


ul {
    padding-left: 0;
    margin-bottom: 0;
}
a:hover {
    text-decoration: none;
}
:focus {
    outline: none;
}

li,ol,ul{
    list-style: none;
}

a,a:hover{
    text-decoration: none;
}
